/*Tampilan Umum HTML*/
body {
	background-image: url("../images/bg.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* navbar */
nav {
	background-color: rgb(185,205,229);
}

#icon {
	border: solid 1px rgb(207,192,226);
	width: 35px;
	height: 35px;
}

.active{
	background-color: grey;
}

.dropdown-menu	{
	 background-color: grey;
}


/* Title */
.H01 {
	text-align: center;
	background: url("../images/back1.jpg");
	background-size: cover;
	position: relative;
	padding-top: 9%;
	padding-bottom: 6%;
	color: white;
	font-family: "Century Gothic"; 	
}


.H01 h1{
	color: rgba(225,225,225,.1);
	background-image: url(../images/spect.jpg);
	background-repeat: repeat-x;
	-webkit-background-clip: text;
	font-size: 70px;
}


/* Paragraph */
.H02 {
	margin-right: 5%;
	margin-left: 5%;
	border: solid 1px rgb(217,217,217);
	padding: 4%;
	position: relative;
	background-color: rgba(239,181,133,0.95);
	text-align: left;
}

.card-header{
	background-color: rgb(173, 173, 173);
	font-family: Century Gothic;
	text-align: center;
}

.card{
	opacity: 80%;
}

.card-body {
	text-align: center;
}


/* footer */
.H13	{
	height: 100%;
	background-color: rgba(92, 102, 117,0.95);
	padding-top: 0;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
	color: white;
	text-align: center;
	vertical-align: middle;
}

.H13 img{
	width: 140px;
	height: 110px ;
	position: relative;
}

.aku {
  position: relative;
  width: 100%;
}

.aku img-fluid {
  display: block;
  width: 140px;
  height: 110px;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 110px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;  
}

.aku:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: Century Gothic;
}

