body {
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* navbar */
nav {
	background-color: rgb(185,205,229);
}

#icon {
	border: solid 1px rgb(207,192,226);
	width: 35px;
	height: 35px;
}

.active{
	background-color: grey;
}

.dropdown-menu	{
	 background-color: grey;
}

/* Title */
.H01 {
	text-align: center;
	background-color: rgba(92, 102, 117,0.95);
	position: relative;
	padding-top: 9%;
	padding-bottom: 6%;
	color: white;
	font-family: CutiesCaps;
	src : url('CutiesCaps Free.ttf') format('truetype')
}

/* Paragraph */
.H02 {
	margin-right: 5%;
	margin-left: 5%;
	border: solid 1px rgb(217,217,217);
	padding: 4%;
	position: relative;
	background-color: rgba(185,205,229,0.95);
	text-align: left;
}

.card-header{
	background-color: rgb(173, 173, 173);
}
.card{
	opacity: 80%;
}

.card-body {
	text-align: center;
}
/* footer */
.H13	{
	height: 200px;
	background-color: rgba(92, 102, 117,0.95);
	padding-top: 3%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
	color: white;
	text-align: center;
	vertical-align: middle;
}



