/* Body */
body	{
	max-height: 100%;
	background-image: url("../images/bg.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Link */
a	{
	text-decoration: none;
	color: rgb(92, 102, 117);
}

a img	{
	width: 200px;
	height: 200px;
}

/* navbar */
nav	{
	background-color: rgb(185,205,229);
}

#icon	{
	border: solid 1px rgb(207,192,226);
	width: 35px;
	height: 35px;
}

.active	{
	background-color: grey;
}

.dropdown-item	{
	color: white;
}

.H00	{
	background-color: grey;
}

/* Slide*/
.carousel	{
	height: 750px;
}

.carousel-item img	{
	height: 750px;
}

/* Title */
.H01	{
	text-align: center;
	background-color: rgba(92, 102, 117, 0.95);
	position: relative;
	padding-top: 6%;
	padding-bottom: 6%;
	color: white;
}

/* Card */
.card	{
	background-color: rgb(185,205,229);
	width: 13rem;
	text-align: center;
}

/* Body */
.H02	{
	margin-right: 5%;
	margin-left: 5%;
	border: solid 1px rgb(217,217,217);
	padding-top: 6%;
	padding-bottom: 5%;
	padding-left: 9%;
	padding-right: 9% ;
	position: relative;
	background-color: rgba(185,205,229,0.85);
	text-align: left;
}

/* footer */
.H13	{
	height: 100px;
	background-color: rgba(92, 102, 117,0.95);
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
	color: white;
	text-align: right;
}