*{
	padding: 0;
	margin: 0;
}

body{
	background: #000;
}

/* HAHA*/
.container{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.container span{
	text-transform: uppercase;
	display: block;
}

.text1{
	color: rgb(113,113,113);
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 8px;
	margin-bottom: 20px;
	background: black;
	position: relative;
	animation: text 3s 1;
	font-family: "Century Gothic";
}

.text2{
	font-size: 30px;
	color: rgb(0, 72, 3);
	font-family: Dotum;
}

@keyframes text {
	0%{
		color: black;
		margin-bottom: -40px;
	}
	30%{
		letter-spacing: 40px;
		margin-bottom: -40px;
		color : rgb(142,126,58);
	}
	30.5%{
		letter-spacing: 40px;
		margin-bottom: -40px;
		color : rgb(200,57,18);
	}
	85%{
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
}



/*HEHE*/
.center {
	position: absolute;
	right: 10%;
	top: 5%;
	transform: translate(-50%, -50%);
}

.center a {
	font-size: 20px;
	font-family: arial;
	text-decoration: none;
	text-transform: uppercase;
	transform-style: preserve-3d;
	position: relative;
	transition: .5s;
}

.center a:before{
	content: attr(title);
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px 40px;
	background: rgb(0, 72, 3);
	color: #000;
	transition: .5s;
	border: 3px solid #000;
	transform-origin: right;
	transform: translateX(-100%) rotateY(90deg);
}

.center a:after{
	content: attr(title);
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px 40px;
	background-color: #000;
	color: rgb(0, 72, 3);
	transition: .5s;
	border: 3px solid rgb(0, 72, 3);
	transform-origin: left;
	transform: translateX(0) rotateY(0deg);
}

.center a:hover:before{
	transform: translateX(0) rotateY(0deg);
}

.center a:hover:after{
	transform: translateX(100%) rotateY(90deg);
}

.by{
	font-family: Tw Cen MT Condensed;
	color: rgb(113,113,113);
}


























