body {
	background-image: url("../images/bg.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* navbar */
nav {
	background-color: rgb(185,205,229);
}

/* navbar */
#icon {
	border: solid 1px rgb(207,192,226);
	width: 35px;
	height: 35px;
}

/* navbar */
.active{
	background-color: grey;
}

/* navbar */
.dropdown-menu	{
	 background-color: lightgrey;
}

/* Title */
.H01 {
	text-align: center;
	background-color: rgba(92, 102, 117,0.95);
	position: relative;
	padding-top: 9%;
	padding-bottom: 6%;
	font-family:Lucida Handwriting; 
	text-shadow: 1px 1px 2px , 0 0 25px #FFB6C1, 0 0 5px #ADE8E6;
	
}

/* Paragraph */
.H02 {
	margin-right: 5%;
	margin-left: 5%;
	border: solid 1px rgb(217,217,217);
	padding: 4%;
	position: relative;
	background-color: rgba(185,205,229,0.95);
	text-align: left;
}

/* footer */
.H13	{
	height: 200px;
	background-color: rgba(92, 102, 117,0.95);
	padding-top: 3%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
	color: white;
}

