body {
	background-image: url("../images/bg.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-family: constantia;
	cursor: url(../cursor/Regular2.cur), auto !important;
}

/* navbar */
nav {
	background-color: rgb(185,205,229);
}

a:hover {
	cursor: url(../cursor/Link.cur), auto !important;
}

#icon {
	border: solid 1px rgb(207,192,226);
	width: 35px;
	height: 35px;
}

.active{
	background-color: grey;
}

.dropdown-item	{
	color: white;
}

/* Title */
.H01 {
	text-align: center;
	background-color: rgba(92, 102, 117,0.95);
	position: relative;
	padding-top: 9%;
	padding-bottom: 6%;
	color: white;
}

/* Paragraph */
.H02 {
	margin-right: 5%;
	margin-left: 5%;
	border: solid 1px rgb(217,217,217);
	padding: 4%;
	position: relative;
	background-color: rgba(185,205,229,0.95);
	text-align: left;
}

/* footer */
.H13	{
	height: 100px;
	background-color: rgba(50, 50, 150,0.95);
	padding-top: 3%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
	color: white;
}

.H14	{
	text-indent: 25px;
}

#reaksi{
	text-align: center;
}

.alert	{
	text-align: center;
}

.H15	{
	margin-left: 25px;
}